OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_MODEL=gemini-2.0-flash-001

OPENSEARCH_HOST=
OPENSEARCH_PORT=9200
OPENSEARCH_USER=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENSEARCH_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENSEARCH_VECTOR_INDEX=llm_vector_document_index
OPENSEARCH_BM25_INDEX=llm_bm25_document_index

NEO4J_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEO4J_PORT=7687
NEO4J_PASS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PROCESS_GRAPH=false

ROOT_DIR=/Users/mosheharary/skybox
ROOT_CLASS=com.skybox

GITLAB_BASE_URL=https://gitlab.com/
GITLAB_BRANCH=master

PINECONE_HOST=
PINECONE_PORT=
PINECONE_INDEX=
