OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=
OPENAI_EMBEDDING_MODEL=

GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_MODEL=

OPENSEARCH_HOST=
OPENSEARCH_PORT=
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=
OPENSEARCH_VECTOR_INDEX=
OPENSEARCH_BM25_INDEX=

NEO4J_HOST=
NEO4J_PORT=
NEO4J_PASS=

ROOT_DIR=
ROOT_CLASS=

GITLAB_BASE_URL=
GITLAB_BRANCH=